/*<------Home page---->*/

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 900px;
    margin: 0 auto;
    background-color:#FF6505 ;
}

nav ul{
    list-style-type: none;
    background-color: #332288;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav li {
    display: block;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

.banner{
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Imgs/bb_8\ racing.jpeg') ;
height: 80%;
background-position: center;
background-repeat: none;
background-size: cover;
padding: 50px;
}

h1{
    color:#D5EEFF ;
}

h3{
    color: #785EF0;
}



#RoboRunLogo{
    width: 10%;
    float: left;
}
.info_Races_levels{
    display: flex;
   align-items: center;
   
}
#race_title{
    margin: 0 100px;
}

.race_levels{
    list-style-type: disc;

}
.robot_models{
    display: flex;
    float: left;
    width: 50%;
    
}
#signUp{
    background-color: #D5EEFF;
    color: #785EF0;
    font-weight: bold;
}

/*<------About page----->*/

.about{
    background-color: #785EF0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #FF6505;
  }
  
  .title {
    color: white;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

/*<---Contact form ---->*/

.contact{
    background-color:#D5EEFF ;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #44AA99;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



  /* <---------Footer--------->*/
  .footer {
    
    color: white;
    padding: 20px 0;
    text-align: center;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #785EF0;
}
.footer .container div {
    margin: 20px 0;
}
.footer .container a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.footer .container a:hover {
    text-decoration: underline;
}
.footer .social-media a {
    font-size: 24px;
    margin: 0 10px;
}